<div class="jumbotron">
    <h1>Add New Purchase</h1>
    <form (ngSubmit)="onSubmit()" #addPurchaseForm="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="BatchNo">BatchNo</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.BatchNo" name="BatchNo"
                        #BatchNo="ngModel">
                </div>

                <div class="form-group">
                    <label for="PurchaseDate">Purchase Date</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.PurchaseDate"
                        name="PurchaseDate" #PurchaseDate="ngModel">
                </div>

                <div class="form-group">
                    <label for="InvoiceID">InvoiceID</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.InvoiceID" name="InvoiceID"
                        #InvoiceID="ngModel">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="Company">Supplier</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.Company" name="Company"
                        #Company="ngModel">
                </div>

                <div class="form-group">
                    <label for="PaymentType">Payment Type</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.PaymentType"
                        name="PaymentType" #PaymentType="ngModel">
                </div>

                <div class="form-group">
                    <label for="Details">Details</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.Details" name="Details"
                        #Details="ngModel">
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Total</th>
                        <th style="text-align: center; cursor: pointer;" (click)="addRow()">
                            <i class="fa fa-plus"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let model of models; let i = index;">
                        <td>
                            <select class="form-control" [(ngModel)]="model.Category" name="{{i}}Category"
                                (change)="onCategoryChange($event.target.value)">
                                <option *ngFor="let category of this.Categories[i]" [value]="category.CategoryCode">
                                    {{category.CategoryName}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="model.Brand" name="{{i}}Brand"
                                (change)="onBrandChange($event.target.value, i)">
                                <option *ngFor="let brand of this.Brands[i]" [value]="brand.BrandCode">
                                    {{brand.BrandName}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="model.ProductName" name="{{i}}ProductName"
                                (change)="OnProductSelect($event.target.value, i)">
                                <option *ngFor="let name of this.ProductNames[i]" [value]="name.ProductCode">
                                    {{name.ProductName}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" required [(ngModel)]="model.Quantity"
                                name="{{i}}Quantity" placeholder="0" (ngModelChange)="updateTotal(i)">
                        </td>
                        <td>
                            <input type="number" class="form-control" required [(ngModel)]="model.Rate" name="{{i}}Rate"
                                placeholder="0" (ngModelChange)="updateTotal(i)">
                        </td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="model.Total" name="{{i}}Total"
                                readonly>
                        </td>
                        <td style="text-align: center; cursor: pointer;" (click)="removeRow(i)">
                            <i class="fa fa-trash"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-md-12">
                <button type="submit" class="btn btn-success submit">Submit</button>
            </div>
        </div>
    </form>
</div>