<div class="jumbotron">
    <h1>Add New Sale</h1>
    <form (ngSubmit)="onSubmit()" #addSaleForm="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="CustomerName">Customer Name</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.CustomerName"
                        name="CustomerName" #CustomerName="ngModel">
                </div>

                <div class="form-group">
                    <label for="CustomerPhone">Phone</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.CustomerPhone"
                        name="CustomerPhone" #CustomerPhone="ngModel">
                </div>

                <div class="form-group">
                    <label for="CustomerAddress">Address</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.CustomerAddress"
                        name="CustomerAddress" #CustomerAddress="ngModel">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="SaleDate">Date</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.SaleDate" name="SaleDate"
                        #SaleDate="ngModel">
                </div>

                <div class="form-group">
                    <label for="PaymentType">Payment Type</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.PaymentType"
                        name="PaymentType" #PaymentType="ngModel">
                </div>

                <div class="form-group">
                    <label for="SaleDetails">Sale Details</label>
                    <input type="text" class="form-control" required [(ngModel)]="modelHead.SaleDetails"
                        name="SaleDetails" #SaleDetails="ngModel">
                </div>
            </div>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Batch No</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Product Name</th>
                        <th>Available Stock</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Discount %</th>
                        <th>Total</th>
                        <th style="text-align: center; cursor: pointer;" (click)="addRow()">
                            <i class="fa fa-plus"></i>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let model of models; let i = index">
                        <td>
                            <select class="form-control" [(ngModel)]="models[i].BatchNo" name="{{i}}BatchNo">
                                <option *ngFor="let batch of this.Batches" [value]="batch">
                                    {{batch}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="models[i].Category" name="{{i}}Category">
                                <option *ngFor="let category of this.Categories" [value]="category">
                                    {{category}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="models[i].Brand" name="{{i}}Brand">
                                <option *ngFor="let brand of this.Brands" [value]="brand">
                                    {{brand}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="models[i].ProductName" name="{{i}}ProductName">
                                <option *ngFor="let name of this.ProductNames" [value]="name">
                                    {{name}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" required [(ngModel)]="models[i].AvailableQuantity"
                                name="{{i}}AvailableQuantity" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control" required [(ngModel)]="model.ProductUnit"
                                name="{{i}}ProductUnit" readonly>
                        </td>
                        <td>
                            <input type="number" class="form-control" required [(ngModel)]="models[i].SaleQuantity"
                                name="{{i}}SaleQuantity" placeholder="0" (ngModelChange)="updateTotal(i)">
                        </td>
                        <td>
                            <input type="number" class="form-control" required [(ngModel)]="models[i].SaleRate"
                                name="{{i}}SaleRate" placeholder="0" (ngModelChange)="updateTotal(i)">
                        </td>
                        <td>
                            <input type="number" class="form-control" required [(ngModel)]="models[i].DiscountInPercent"
                                name="{{i}}DiscountInPercent" (ngModelChange)="updateTotal(i)">
                        </td>
                        <td>
                            <input type="number" class="form-control" [(ngModel)]="models[i].Total" name="{{i}}Total"
                                readonly>
                        </td>
                        <td (click)="removeRow(i)" style="text-align: center; cursor: pointer;"><i
                                class="fa fa-trash"></i></td>
                    </tr>


                </tbody>
            </table>

            <div class="col-md-12">
                <button type="submit" class="btn btn-success submit">Submit</button>
            </div>
        </div>
    </form>
</div>