<div class="jumbotron">
    <h1>Chart of Accounts</h1>

    <ul id="myUL">
        <li><span class="caret">COA</span>
            <ul class="nested">
                <li>Cash</li>
                <li>Note Payable</li>
                <li><span class="caret">Assets</span>
                    <ul class="nested">
                        <li>Land</li>
                        <li>Equipments</li>
                        <li><span class="caret">Branches</span>
                            <ul class="nested">
                                <li>Random</li>
                                <li>Random</li>
                                <li>Random</li>
                                <li>Random</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</div>