<div class="sidenav">
    <div class="logo">
        <img src="../../assets/logo.png" alt="Logo" width="180px" />
    </div>
    <a routerLink="/dashboard">
        <i class="fa fa-dashboard"></i>
        Dashboard</a>

    <button class="dropdown-btn">
        <i class="fa fa-money"></i>
        Sales
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="/sales/add">Add Sale</a>
        <a routerLink="">Manage Sales</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-handshake-o"></i>
        Customers
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="/customers/add">Add Customer</a>
        <a routerLink="/customers/manage">Manage Customers</a>
        <a routerLink="">Customer Ledger</a>
        <!-- <a routerLink="">Credit Customer</a>
        <a routerLink="">Paid Customer</a>
        <a routerLink="">Customer Advance</a> -->
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-shopping-basket"></i>
        Products
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <!-- <a routerLink="">Company</a> -->
        <a routerLink="/products/add-category">Category</a>
        <a routerLink="/products/add-brand">Brand</a>
        <a routerLink="/products/add">Add Product</a>
        <a routerLink="">Manage Products</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-industry"></i>
        Suppliers
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="/suppliers/add">Add Supplier</a>
        <a routerLink="/suppliers/manage">Manage Suppliers</a>
        <a routerLink="">Supplier Ledger</a>
        <!-- <a routerLink="">Supplier Advance</a> -->
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-cart-arrow-down"></i>
        Purchases
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="/purchases/add">Add Purchase</a>
        <a routerLink="">Batch/Lot No</a>
        <a routerLink="">Manage Purchases</a>
    </div>

    <a routerLink="">
        <i class="fa fa-briefcase"></i>
        Stock</a>

    <button class="dropdown-btn">
        <i class="fa fa-reply-all"></i>
        Returns
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <button class="dropdown-btn">Add Return
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Sales Return</a>
            <a routerLink="">Supplier Return</a>
        </div>
        <a routerLink="">Sales Return List</a>
        <a routerLink="">Supplier Return List</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-file-text-o"></i>
        Reports
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="">Closing</a>
        <a routerLink="">Closing Report</a>
        <a routerLink="">Today's Report</a>
        <a routerLink="">Today's Customer Receipt</a>
        <button class="dropdown-btn">Sales Report
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">All Sales</a>
            <a routerLink="">User Wise</a>
            <a routerLink="">Category Wise</a>
            <a routerLink="">Product Wise</a>
        </div>
        <button class="dropdown-btn">Purchase Report
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">All Purchases</a>
            <a routerLink="">Category Wise</a>
        </div>
        <a routerLink="">Due Report</a>
        <a routerLink="">Shipping Cost Report</a>
        <a routerLink="">Sales Return</a>
        <a routerLink="">Supplier Return</a>
        <a routerLink="">Tax Report</a>
        <a routerLink="">Profit Report</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-dollar"></i>
        Accounts
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="/accounts/chart-of-account">Chart of Account</a>
        <a routerLink="">Supplier Payment</a>
        <a routerLink="">Customer Receive</a>
        <a routerLink="">Cash Adjustment</a>
        <button class="dropdown-btn">Expense
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Add Expense</a>
            <a routerLink="">Manage Expense</a>
            <a routerLink="">Add Expense Type</a>
            <a routerLink="">Manage Expense Type</a>
            <a routerLink="">Expense Statement</a>
        </div>
        <a routerLink="">Debit Voucher</a>
        <a routerLink="">Credit Voucher</a>
        <a routerLink="">Voucher Approval</a>
        <a routerLink="">Contra Voucher</a>
        <a routerLink="">Journal Voucher</a>
        <button class="dropdown-btn">Report
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Cash Book</a>
            <a routerLink="">Inventory Ledger</a>
            <a routerLink="">Bank Book</a>
            <a routerLink="">General Ledger</a>
            <a routerLink="">Trial Balance</a>
            <a routerLink="">Profit/Loss</a>
            <a routerLink="">Cash Flow</a>
        </div>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-bank"></i>
        Banks
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="/banks/add">Add New Bank</a>
        <a routerLink="">Bank Transactions</a>
        <a routerLink="/banks/manage">Manage Banks</a>
    </div>

    <!-- <button class="dropdown-btn">
        <i class="fa fa-sort-amount-desc"></i>
        Taxes
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="">Tax Settings</a>
        <a routerLink="">Add Income Tax</a>
        <a routerLink="">Manage Income Tax</a>
        <a routerLink="">Tax Report</a>
        <a routerLink="">Tax Report/Invoice</a>
    </div> -->

    <button class="dropdown-btn">
        <i class="fa fa-users"></i>
        Human Resource
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <button class="dropdown-btn">HRM
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Add Designation</a>
            <a routerLink="">Manage Designation</a>
            <a routerLink="">Add Employee</a>
            <a routerLink="">Manage Employee</a>
        </div>
        <!-- <button class="dropdown-btn">Attendance
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Attendance</a>
            <a routerLink="">Manage Attendance</a>
            <a routerLink="">Attendance Report</a>
        </div> -->
        <button class="dropdown-btn">Payroll
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Add Benefits</a>
            <a routerLink="">Manage Benefits</a>
            <a routerLink="">Add Salary Setup</a>
            <a routerLink="">Manage Salary Setup</a>
            <a routerLink="">Salary Generate</a>
            <a routerLink="">Manage Salary Generate</a>
            <a routerLink="">Salary Payment</a>
        </div>
        <!-- <button class="dropdown-btn">Office Loan
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Add Person</a>
            <a routerLink="">Add Loan</a>
            <a routerLink="">Add Payment</a>
            <a routerLink="">Manage Loan</a>
        </div> -->
        <!-- <button class="dropdown-btn">Personal Loan
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Add Person</a>
            <a routerLink="">Add Loan</a>
            <a routerLink="">Add Payment</a>
            <a routerLink="">Manage Loan</a>
        </div> -->
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-support"></i>
        Services
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="">Add Service</a>
        <a routerLink="">Manage Services</a>
        <a routerLink="">Service Invoice</a>
        <a routerLink="">Manage Service Invoice</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-percent"></i>
        Offers
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a routerLink="">Add Offers</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-sliders"></i>
        Settings
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <button class="dropdown-btn">Software Settings
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Add User</a>
            <a routerLink="">Manage User</a>
            <a routerLink="">Settings</a>
            <a routerLink="">Currency</a>
        </div>
        <button class="dropdown-btn">Role Permissions
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a routerLink="">Add Role</a>
            <a routerLink="">Role List</a>
            <a routerLink="">User Assign Role</a>
        </div>
    </div>
</div>