<div class="sidenav">
    <div class="logo">
        <img src="../../assets/logo.png" alt="Logo" width="180px" />
    </div>
    <a href="#">
        <i class="fa fa-dashboard"></i>
        Dashboard</a>

    <button class="dropdown-btn">
        <i class="fa fa-money"></i>
        Sales
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Add Sale</a>
        <a href="#">Manage Sales</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-handshake-o"></i>
        Customers
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Add Customer</a>
        <a href="#">Manage Customers</a>
        <a href="#">Customer Ledger</a>
        <a href="#">Credit Customer</a>
        <a href="#">Paid Customer</a>
        <a href="#">Customer Advance</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-shopping-basket"></i>
        Products
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Company</a>
        <a href="#">Category</a>
        <a href="#">Brand</a>
        <a routerLink="product/add">Add Product</a>
        <a href="#">Manage Products</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-industry"></i>
        Suppliers
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Add Supplier</a>
        <a href="#">Manage Suppliers</a>
        <a href="#">Supplier Ledger</a>
        <a href="#">Supplier Advance</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-cart-arrow-down"></i>
        Purchases
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Add Purchase</a>
        <a href="#">Batch/Lot No</a>
        <a href="#">Manage Purchases</a>
    </div>

    <a href="#">
        <i class="fa fa-briefcase"></i>
        Stock</a>

    <button class="dropdown-btn">
        <i class="fa fa-reply-all"></i>
        Returns
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <button class="dropdown-btn">Add Return
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Sales Return</a>
            <a href="#">Supplier Return</a>
        </div>
        <a href="#">Sales Return List</a>
        <a href="#">Supplier Return List</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-file-text-o"></i>
        Reports
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Closing</a>
        <a href="#">Closing Report</a>
        <a href="#">Today's Report</a>
        <a href="#">Today's Customer Receipt</a>
        <button class="dropdown-btn">Sales Report
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">All Sales</a>
            <a href="#">User Wise</a>
            <a href="#">Category Wise</a>
            <a href="#">Product Wise</a>
        </div>
        <button class="dropdown-btn">Purchase Report
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">All Purchases</a>
            <a href="#">Category Wise</a>
        </div>
        <a href="#">Due Report</a>
        <a href="#">Shipping Cost Report</a>
        <a href="#">Sales Return</a>
        <a href="#">Supplier Return</a>
        <a href="#">Tax Report</a>
        <a href="#">Profit Report</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-dollar"></i>
        Accounts
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Chart of Account</a>
        <a href="#">Supplier Payment</a>
        <a href="#">Customer Receive</a>
        <a href="#">Cash Adjustment</a>
        <button class="dropdown-btn">Expense
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Expense</a>
            <a href="#">Manage Expense</a>
            <a href="#">Add Expense Type</a>
            <a href="#">Manage Expense Type</a>
            <a href="#">Expense Statement</a>
        </div>
        <a href="#">Debit Voucher</a>
        <a href="#">Credit Voucher</a>
        <a href="#">Voucher Approval</a>
        <a href="#">Contra Voucher</a>
        <a href="#">Journal Voucher</a>
        <button class="dropdown-btn">Report
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Cash Book</a>
            <a href="#">Inventory Ledger</a>
            <a href="#">Bank Book</a>
            <a href="#">General Ledger</a>
            <a href="#">Trial Balance</a>
            <a href="#">Profit/Loss</a>
            <a href="#">Cash Flow</a>
        </div>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-bank"></i>
        Banks
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Add New Bank</a>
        <a href="#">Bank Transactions</a>
        <a href="#">Manage Banks</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-sort-amount-desc"></i>
        Taxes
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Tax Settings</a>
        <a href="#">Add Income Tax</a>
        <a href="#">Manage Income Tax</a>
        <a href="#">Tax Report</a>
        <a href="#">Tax Report/Invoice</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-users"></i>
        Human Resource
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <button class="dropdown-btn">HRM
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Designation</a>
            <a href="#">Manage Designation</a>
            <a href="#">Add Employee</a>
            <a href="#">Manage Employee</a>
        </div>
        <button class="dropdown-btn">Attendance
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Attendance</a>
            <a href="#">Manage Attendance</a>
            <a href="#">Attendance Report</a>
        </div>
        <button class="dropdown-btn">Payroll
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Benefits</a>
            <a href="#">Manage Benefits</a>
            <a href="#">Add Salary Setup</a>
            <a href="#">Manage Salary Setup</a>
            <a href="#">Salary Generate</a>
            <a href="#">Manage Salary Generate</a>
            <a href="#">Salary Payment</a>
        </div>
        <button class="dropdown-btn">Office Loan
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Person</a>
            <a href="#">Add Loan</a>
            <a href="#">Add Payment</a>
            <a href="#">Manage Loan</a>
        </div>
        <button class="dropdown-btn">Personal Loan
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Person</a>
            <a href="#">Add Loan</a>
            <a href="#">Add Payment</a>
            <a href="#">Manage Loan</a>
        </div>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-support"></i>
        Services
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Add Service</a>
        <a href="#">Manage Services</a>
        <a href="#">Service Invoice</a>
        <a href="#">Manage Service Invoice</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-percent"></i>
        Commission
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Generate Commisision</a>
    </div>

    <button class="dropdown-btn">
        <i class="fa fa-sliders"></i>
        Settings
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <button class="dropdown-btn">Software Settings
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add User</a>
            <a href="#">Manage User</a>
            <a href="#">Settings</a>
            <a href="#">Currency</a>
        </div>
        <button class="dropdown-btn">Role Permissions
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Add Role</a>
            <a href="#">Role List</a>
            <a href="#">User Assign Role</a>
        </div>
    </div>
</div>